
@keyframes fade-out{
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
        height: auto;
    }
}


@mixin c-move-to($type,$site,$sec,$lr) {
    @if $lr == l {
        @keyframes cloud-move-#{$type}{
            0%,100% {
                left: #{$site};
            }
            50% {
                left: calc( #{$site} - 3px );
            }
        }
    }
    @else if $lr == r {
        @keyframes cloud-move-#{$type}{
            0%,100% {
                right: #{$site};
            }
            50% {
                right: calc( #{$site} + 3px );
            }
        }
    }

    @include animation(0s,#{$sec},cloud-move-#{$type},infinite,none,ease-in-out);
}


@keyframes light{
    0%,25%,75%,100% {
        opacity: 0;
    }
    10%,50%,85% {
        opacity: 1;
    }
}

@keyframes tada {
    from {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  
    10%, 20% {
      opacity: 1;
      transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%, 50%, 70%, 90% {
      opacity: 1;
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%, 60%, 80% {
      opacity: 1;
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .tada {
    animation-name: tada;
  }

  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    animation-name: pulse;
  }

  @keyframes clear {
      0% {
        opacity: 0;
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      100% {
          opacity: 1;
          position: relative;
          top: auto;
          left: 0;
          -ms-transform: none;
          transform: none;
      }
  }

  @keyframes scale {
      0% {
        opacity: 0;
        transform:scale(10);
      }
      50% {
        opacity: 1;  
        transform:scale(1.5);      
      }
      90%{
          opacity: 1;
      }
      100%{
        opacity: 0;
        transform:scale(1);
      }
  }

  @keyframes scaleIn{
    0% {
        opacity: 0;
        transform:scale(0.2);
    }
    10%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform:scale(1);
    }
  }

  @keyframes scaleRotateIn{
    0% {
        opacity: 0;
        transform:scale(0.2) rotate(60deg);
    }
    10%{
        opacity: 0 rotate(180deg);
    }
    100% {
        opacity: 1;
        transform:scale(1) rotate(360deg);
    }
  }

 