

img {
    max-width: 100%;
    border: 0px;
    vertical-align: middle;
}

ul,li,p,ol,figure {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, button {
    // background-color: transparent;
    text-decoration: none;    
    outline: none;
    hlbr: expression(this.onFocus=this.blur());    
    &:focus {
        outline: none;
    }        
}
